body{
    background-image: url("background.jpg");
    font-family: 'Architects Daughter', cursive;
}
h1{
    font-weight: bold;
}

ul li {
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 1.5em;
}

ul li.checked::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
}

.close {
    font-size: 2em;
    padding: 12px 16px 0px 16px;
    color: #F46E36e8;
}

.header {
    padding: 30px 40px;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: 4px solid #f46e36e8;
    font-family: 'Architects Daughter', cursive;
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 1.5em;
}
#addButton {
    border: solid 2px #f46e36e8;
    border-radius: 30%;
    padding: 10px;
    width: 8%;
    float: left;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
